<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="container-fluid">
        <div class="col-md-2">
        <a class="navbar-brand logo">Go Digit</a>
        </div>
      
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" aria-current="page" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Claims</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Renewals
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  
<nav class="navbar navbar-expand-lg navbar-light bd-light">  
    <div class="container-fluid">  
        <div class="collapse navbar-collapse" id="navbarNav">
          
            <p>Do the digit insurance</p><br>
            <p>Trusted by 3 Crore+ Indians</p>
            <!-- <img src="https://www.godigit.com/content/dam/godigit/directportal/en/home-page-virat-banner-1.svg" class="image-fluid" alt=""> -->
            <ul class=" navbar-nav w-100 d-flex justify-content-center">
                <li class="nav-link mx-3">
                <a href="">Cars</a>
                </li>
                <li class="nav-link mx-3">
                <a href="">Bikes</a>
                </li>
                <li class="nav-link mx-3">
                <a href="">Health</a>
                </li>
                <li class="nav-link mx-3">
                <a href="">Commercial</a>
                </li>        
                <li class="nav-link mx-3">
                <a href="">Travels</a>
                </li>        
                <li class="nav-link mx-3">
                <a href="nav-link">Renewals</a>
                </li>        
            </ul>
        </div>
    </div>
</nav>